<h1>Listing products</h1>
<div class="products">
<table>
  <tr>
    <th>Image url</th>
    <th>Description</th>    
    <th>Price</th>
    <th></th>
  </tr>
<%= I18n.t("errors.messages.greater_than_or_equal_to", count: 0.01) %>
<% @products.each do |product| %>
  <tr class="<%= cycle('list_line_odd','list_line_even') %>">

    <td><%= image_tag(product.image_url, class:'list_image') %></td>
    <td class="list_description">
      <dl>
        <dt><%= product.title %></dt>
      </dl>
      <dd><%= truncate(strip_tags(product.description), lenght:80) %></dd>
    </td>
    
    
    <td><%= product.price %></td>
    <td class="list_actions"><%= link_to 'Show', product %><br />
      <%= link_to 'Edit', edit_product_path(product) %><br />
      <%= link_to 'Destroy', product, confirm: 'Are you sure?', method: :delete %>
    </td>
  </tr>
<% end %>
</table>
</div>

<br />

<%= link_to 'New Product', new_product_path %>
